<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="54714fe6-f379-4396-9c9d-d572f9abf638" activeEnvironment="Default environment" name="REST Project 1" lastOpened="2017-03-28T09:59:46.245-04:00" resourceRoot="" xmlns:con="http://eviware.com/soapui/config"><con:settings/><con:vcsConfiguration><con:vcsName>Git</con:vcsName><con:repositoryIdentifier>https://github.com/cdasaroDev/Hello.git</con:repositoryIdentifier></con:vcsConfiguration><con:savedRecentRuns>1</con:savedRecentRuns><con:requirements/><con:properties/><con:wssContainer/><con:databaseConnectionContainer/><con:oAuth2ProfileContainer/><con:authRepository/><con:tags/></con:soapui-project>