<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="ae622175-eb8f-4b3d-9bcc-3ab4dde60ae0" name="TestSuite" xmlns:con="http://eviware.com/soapui/config"><con:description>TestSuite generated for REST Service []</con:description><con:settings><con:setting id="ae622175-eb8f-4b3d-9bcc-3ab4dde60ae0fileName">TestSuite</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>